.wrapper{
    width: auto;
    max-width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
}

.ui.horizontal.label, .ui.horizontal.labels .label{
    min-width: 80px !important;
}

.form-container{
    max-width: 700px;
    margin: auto;
}

h4.first{
    margin-top: 10px !important;
}

.wrapper .ui.top.menu{
    background-color: #f9fafb;
}

.wrapper .ui.top.menu span.text{
    margin-left: 10px;
}

.wrapper .segment{
    padding: 0 !important;
}

.wrapper .segment table{
    border: 0 !important;
}

.wrapper .segment thead th{
    background-color: white !important;
}

.wrapper .segment tfoot th{
    background-color: #f9fafb !important;
}

.ui.selection.dropdown{
    min-width: 0 !important;
}

.ui.error.message{
    display: block!important;
}

.add.modal .content, .delete.modal .content, .update.modal .content, .contacts.modal .content{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.delete.modal.content p{
    margin-top: 10px;
}

.ui.form{
    margin-bottom: 0 !important;
}

.ui.form .actions {
    width: calc(100% + 3rem);
    margin-top: 15px;
    margin-left: -1.5rem;
    text-align: right;
    background: #f9fafb;
    padding: 1rem;
    border-top: 1px solid rgba(34,36,38,.15);
}

.ui.modal > .close{
    top: 0.85rem !important;
    right: 0.6rem !important;
    color: #db2828 !important;
}

.result{
    margin-bottom: 20px;
}

.ui.modal.update{
    z-index: 10000;
}

.ui.modal.person{
    z-index: 1;
}

.ui.modal.person .list .item{
    border-top: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.ui.contacts.modal .toggle{
    padding-top: 8px !important;
}

.sort-link i{
    display: inline !important;
    padding-left: 5px !important;
}

.ui.modal .content{
    padding: 1px !important;
}

.ui.modal > .header{
    background-color: #f9fafb !important;
}

.ui.modal .top.attached{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding-left: 20px;
    padding-right: 20px;
}

.ui.modal .bottom.attached{
    background-color: #f9fafb !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    width: 100% !important;
}

.ui.form .actions{
    padding: 0 !important;
}

.ui.modal span.label{
    font-weight: bold;
    display: inline-block;
    min-width: 80px;
}

.ui.modal span.value{
    margin-left: 5px;
}

.ui.menu .dropdown.item .menu{
    margin-top: 0 !important;
    border-radius: 0 !important;
}

.ui.menu button.item{
    border: 0;
}

.ui.menu button.item:hover{
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95);
}

.ui.menu button.item:focus{
    outline:0;
}